<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Railway_Reservation_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login_Servlet</display-name>
    <servlet-name>Login_Servlet</servlet-name>
    <servlet-class>railway.Login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Servlet</servlet-name>
    <url-pattern>/Login_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout_Servlet</display-name>
    <servlet-name>Logout_Servlet</servlet-name>
    <servlet-class>railway.Logout_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout_Servlet</servlet-name>
    <url-pattern>/Logout_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book_Tickets_Servlet</display-name>
    <servlet-name>Book_Tickets_Servlet</servlet-name>
    <servlet-class>railway.Book_Tickets_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book_Tickets_Servlet</servlet-name>
    <url-pattern>/Book_Tickets_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Enquire_Servlet</display-name>
    <servlet-name>Enquire_Servlet</servlet-name>
    <servlet-class>railway.Enquire_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Enquire_Servlet</servlet-name>
    <url-pattern>/Enquire_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Servlet</display-name>
    <servlet-name>Delete_Servlet</servlet-name>
    <servlet-class>railway.Delete_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Servlet</servlet-name>
    <url-pattern>/Delete_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Find_Servlet</display-name>
    <servlet-name>Find_Servlet</servlet-name>
    <servlet-class>railway.Find_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Find_Servlet</servlet-name>
    <url-pattern>/Find_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register_Servlet</display-name>
    <servlet-name>Register_Servlet</servlet-name>
    <servlet-class>railway.Register_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register_Servlet</servlet-name>
    <url-pattern>/Register_Servlet</url-pattern>
  </servlet-mapping>
</web-app>